<h1>Comments#new</h1>
<p>Find me in app/views/comments/new.html.erb</p>
<%= form_for [@commentable, @comment], remote: true do |f| %>
  <%= f.text_area :content %>
  <br>
  <br>
  <%= f.submit 'comment' %>
<% end %>
