<h1>Stories#index</h1>
<p>Find me in app/views/stories/index.html.erb</p>

<% @stories.each do |story| %>
  <%= link_to story.story_title, story %>
  <br>
  <br>
  <%= story.story_body %>
  <br>
  posted by : <%= story.user.email %>
<% end %>
